<nav class="navbar navbar-light bg-light">
      <div class="nav-div">
      <a class="navbar-brand" href="/">
      <img src="/images/icon.png" height="30" class="d-inline-block align-top" alt="icon">
        Studio Ghibli Archive
      </a>
      </div>
</nav>