body{
    background: #d8d0c1;
}

header{
    padding-bottom: 40px;
}

.nav-div{
    margin-right: auto;
    margin-left: auto;
}

.poster {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.poster-div{
    height: 80%;
    width: 100%;
}

.poster-div:hover{
    background-color: black;
}

.poster:hover {
    opacity: 0.7;
}

.caption-div{
    text-align: center;
}

.caption{
    color: #6f686d;
}

.caption:link {
    color: #6f686d;
}

.caption:hover {
    color: #6f686d;
}

.caption:visited {
    color: #6f686d;
}

.pagination > li > a
{
    background-color: white;
    color: #b3b492;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #b3b492;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #b3b492 !Important;
    border: solid 1px #b3b492 !Important;
}

.pagination > .active > a:hover
{
    background-color: #b3b492 !Important;
    border: solid 1px #b3b492;
}

.title{
    background-color: #b3b492;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.detail-poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.shadow {
    background-color: #6f686d;
    border-radius: 10px;
}

footer {
    background-color: #b3b492;
    color:#d8d0c1;
    margin-top: 50px;
}